body {
    background: linear-gradient(90deg, #3575ff 0%, #f192bb 100%);
}

.btn-floating {
    position: fixed;
    right: 25px;
    overflow: hidden;
    width: 55px;
    height: 55px;
    border-radius: 100px;
    border: 0;
    z-index: 9999;
    color: white;
    transition: .2s;
}

.btn-floating:hover {
    width: auto;
    padding: 0 20px;
    cursor: pointer;
}

.btn-floating span {
    font-size: 16px;
    margin-left: 5px;
    transition: .2s;
    line-height: 0px;
    display: none;
}

.btn-floating:hover span {
    display: inline-block;
}

.btn-floating:hover img {
    margin-bottom: -3px;
}

.btn-floating.whatsapp {
    bottom: 70px;
    background-color: transparent;
    border: 0px solid #fff;
}

.btn-floating.whatsapp:hover {
    background-color: #1876f3;
}
